.main-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.calendar-container {
    max-width: 800px; /* Ajusta el ancho del calendario */
    margin-right: 20px; /* Espacio entre el calendario y la lista de días seleccionados */
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.selected-days-container {
    max-width: 300px; /* Ajusta el ancho del contenedor lateral */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.selected-days-container h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
}

#selectedDaysList {
    list-style-type: none;
    padding: 0;
}

#selectedDaysList li {
    padding: 10px;
    background-color: #f1f1f1;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 1.2rem;
}
