body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
  margin: 0;
}

.calendar-container {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 1000px;
  text-align: center;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.calendar-header button {
  background-color: #a8d5e2;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.calendar-header h2 {
  margin: 0;
  font-size: 20px;
  color: #333333;
}

.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
  margin-bottom: 10px;
}

.calendar-days div {
  background-color: transparent;
  border-radius: 5px;
  padding: 5px 0;
  font-weight: bold;
  color: #4a4a4a;
}

.calendar-dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  width: 100%;
}

.calendar-dates div {
  padding: 10px 0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.calendar-dates div:hover {
  background-color:  #7bcfe6;
}

.current-day {
  background-color: #ffcccb;
  font-weight: bold;
  color: red;
}

.selected-day {
  background-color: #d0dfd0;
  transition: background-color 0.3s ease;
}
.btn{
  padding: 10px;
  margin: 50px 10px 10px 10px;
  background-color: #a8d5e2;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.btn:hover{
  background-color: #7bcfe6;
}