
:root {
  --black: #1b1722;
  --white: #f0f0f0;
  --primary: #808080;
  --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
* {
  font-family: "Cormorant Garamond", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}
html { 
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 1.8rem;
  height: 1.8rem;
}
html::-webkit-scrollbar-track {
  background-color: var(--white);
}
html::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 5rem;
}

/* ------------------------------ cuerpo  ------------------------------ */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    height: 100vh;
    margin: 0;
}

section{
    height: 100%;
    width: 100%;
    padding: 20px;
    padding-top: 70px ;
    
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

/* ------------------------------ cabezal  ------------------------------ */
.header {
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 1.4rem 7%;
    z-index: 999;
    height: 60px;
  }
  .header .logoContent {
    display: flex;
    align-items: center;
  }
  .header .logoContent .logo img {
    height: 7rem;
  }
  .header .logoContent .logoName {
    color: var(--black);
    font-size: 1.1rem;
    font-weight: bolder;
  }
  
  .header .navbar a {
    font-size: 1.2rem;
    margin-right: 3rem;
    color: var(--black);
    font-weight: 400;
  }
  .header .navbar a:hover {
    border-bottom: 0.1rem solid var(--black);
    padding-bottom: 0.4rem;
  }
  .header .icon i {
    font-size: 2rem;
    margin-right: 2rem;
    color: var(--black);
    cursor: pointer;
  }
  .logo-1 img {
    transform: translateY(20px);
    height: 70px;
    margin-right: 20px;
  }
  
  @media (max-width: 991px) {
    .header {
      padding: 1.4rem 5%;
    }
    .header .logoContent .logoName {
      display: none;
    }
    .header .navbar a {
      font-size: 1.1rem;
      margin-right: 2rem;
    }

    
}


/* ------------------------------sección de formulario ------------------------------*/

.form-container {
    margin: 20px;
    background: white;
    padding: 20px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 700px;
    border-radius: 40px;
}

h2 {
    text-align: center;
    color: #000; /* Color de texto rosa oscuro */
    margin-bottom: 25px;
    font-size: 30px;
}


.form-group {
    margin: 5px;
}

form {
    display: flex;
    flex-direction: column;
}

label, input {
    margin: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid  #aaa; /* Borde rosa pastel */
    border-radius: 5px;
    background-color: transparent; /* Fondo de los campos blanco */
    font-size: 16px;
    color: #000;
}

.btn {
    background-color: #dfc3c85c;
    transition: all 0.5s ease;
    font-size: 25px;
    font-weight: 400;
    border: 1px solid #00000044;
    border-radius: 14px;
    padding: 10px 15px;
    color: #000;
    min-width: 180px;
    margin: 15px 0;
    width: 100%;
    cursor: pointer;
  }
  .btn:hover {
    background-color: #d682915c;
    border-color: #58585875;
  }


/* ------------------------------sección de tabla ------------------------------*/
table {
    border-collapse: collapse;
    width: 60%;
    margin: 20px 0;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

thead {
    background-color: pink;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #ddd;
}

th {
    cursor: pointer;
}


.btn-danger {
    background-color: #e78f89;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 600;
    padding: 6px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 2px;
}

.btn-danger:hover {
    background-color: #f44336;
    color: white;
}
