@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

:root {
  --black: #1b1722;
  --white: #f0f0f0;
  --primary: #808080;
  --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
* {
  font-family: "Cormorant Garamond", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}
html {
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 1.8rem;
  height: 1.8rem;
}
html::-webkit-scrollbar-track {
  background-color: var(--white);
}
html::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 5rem;
}



/* ------------------------------ cabezal  ------------------------------ */
.header {
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 1.4rem 7%;
    z-index: 999;
    height: 60px;
  }
  .header .logoContent {
    display: flex;
    align-items: center;
  }
  .header .logoContent .logo img {
    height: 7rem;
  }
  .header .logoContent .logoName {
    color: var(--black);
    font-size: 1.1rem;
    font-weight: bolder;
  }
  
  .header .navbar a {
    font-size: 1.2rem;
    margin-right: 3rem;
    color: var(--black);
    font-weight: 400;
  }
  .header .navbar a:hover {
    border-bottom: 0.1rem solid var(--black);
    padding-bottom: 0.4rem;
  }
  .header .icon i {
    font-size: 2rem;
    margin-right: 2rem;
    color: var(--black);
    cursor: pointer;
  }
  .logo-1 img {
    transform: translateY(20px);
    height: 70px;
    margin-right: 20px;
  }
  
  @media (max-width: 991px) {
    .header {
      padding: 1.4rem 5%;
    }
    .header .logoContent .logoName {
      display: none;
    }
    .header .navbar a {
      font-size: 1.1rem;
      margin-right: 2rem;
    }

    
}
.slogan{
  font-size: 40px;
}


/* ------------------------------sección de inicio ------------------------------*/

#inicio {
  min-height: 100vh;
  background-image: url("../img/ima2.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: center;
  background-attachment: fixed;
}
.opacidad {
  width: 100%;
  min-height: 100vh;
  background-color: #00000022;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.logo {
  height: 300px;
  filter: grayscale();
  margin: 100px 15px 15px;
}



.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 20px 15px 15px;
  backdrop-filter: blur(10px);
}

.btn {
  font-size: 25px;
  border: 3px solid #000;
  border-radius: 14px;
  padding: 10px 15px;
  text-decoration: none;
  color: #000;
  min-width: 180px;
}
.btn:hover {
  background-color: #d682915c;
  font-weight: bold;
  border-color: #58585875;
}

/* ------------------------------sección de galería ------------------------------*/

/* Estilo para la galería */
#galeria {
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas */
  grid-template-rows: auto; /* Altura automática para las filas */
  grid-gap: 20px;
  padding: 100px 0;
}

/* Estilos para las cajas de imágenes */
.box img {
  width: 100%;
  height: auto; /* Altura automática para mantener la proporción */
  max-height: 250px;
  object-fit: cover;
}

/* Estilo para las tarjetas en la sección 'about' */
#about {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; /* Alinea el contenido en columna */
}

.container-about {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px; /* Añadir algo de padding horizontal */
}

.titulo {
  font-size: 80px;
  margin: 40px 0 20px; /* Espaciado alrededor del título */
  text-align: center;
}

/* Estilo para los artículos en 'about' */
#about article {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas para tarjetas */
  gap: 20px;
}

/* Estilo para las tarjetas */
.card {
  background-color: #c88d192a;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card h1 {
  font-size: 32px;
}

.card p {
  font-size: 17px;
}

/* Responsividad */
@media (max-width: 991px) {
  .container {
    padding: 30px;
    grid-template-columns: 1fr; /* Una columna en pantallas más pequeñas */
  }
}

@media screen and (max-width: 768px) {
  #about article {
    grid-template-columns: 1fr; /* Una columna en pantallas más pequeñas */
  }
}


/* ------------------------------sección de contacto ------------------------------*/
.footer {
  background-color: #d58190;
}

.footer .box-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  padding: 2rem 1rem;
}


.footer .box-container .box-f {
    display: flex ;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer .box-container .box-f div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
}



.footer .box-container .box-f h3 {
  font-size: 2.2rem;
  color: var(--black);
  padding: 1rem 0;
}
.footer .box-container .box-f a {

    border-bottom: 0.2rem solid transparent;
  display: block;
  font-size: 1.8rem;
  font-weight: 800;
  color: var(--black);
  padding: 1rem 0;
}
.footer .box-container .box-f a i {
  padding-right: 0.5rem;
  color: #808080;
}
.footer .box-container .box-f a:hover i {
  padding-right: 2rem;
}
.footer .box-container .box-f a:hover  {
  border-bottom: 0.2rem solid var(--black);
}

@media screen and (max-width: 900px) {
  .footer .box-container {
    grid-template-columns: 1fr;
  }
    
}

.footer .credit {
  font-size: 2rem;
  margin-top: 2rem;
  padding-bottom: 2rem;
  color: #1a2835;
  text-align: center;
}

.footer .credit a{
  text-decoration: none;
}


/* Estilos para la barra de navegación */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}

.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ddd;
  color: black;
}

/* Estilos para el menú desplegable */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px ;
  z-index: 1;
  background-color: #d58190;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.p {
  background-color: #c88d192a;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 2%; /* Corregir el padding */
  max-width: 80%; /* Ajusta el ancho según sea necesario */
  margin: 0 auto; /* Centra el contenedor */
}

.pro{
  
  background-color: #d58190;
  text-align: center;
  display: inline-block;
    padding: 0px 2px;
    background-color: #d58190;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-size: 1em;
    transition: background-color 0.3s ease;
    max-width: 1200px;
  margin: 0 auto;
  display: grid;
  
   padding: 10px 100px;

}
