* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
  font-family: "Cormorant Garamond", serif;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.header {
    top: 0;
    right: 0;
    left: 0;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding-bottom: 10px;
    z-index: 999;
    height: 60px;
    text-decoration: none;
  }
  .header .logoContent {
    display: flex;
    align-items: center;
  }
  .header .logoContent .logo img {
    height: 7rem;
  }
  .header .logoContent .logoName {
    color: black;
    font-size: 1.1rem;
    font-weight: bolder;
  }
  
  .header .navbar a {
    font-size: 1.2rem;
    margin-right: 3rem;
    color: var(--black);
    font-weight: 400;
  }
  .header .navbar a:hover {
    border-bottom: 0.1rem solid var(--black);
    padding-bottom: 0.4rem;
  }
  .header .icon i {
    font-size: 2rem;
    margin-right: 2rem;
    color: var(--black);
    cursor: pointer;
  }
  .logo-1 img {
    transform: translateY(20px);
    height: 70px;
    margin-right: 20px;
  }
  
  @media (max-width: 991px) {
    .header {
      padding: 1.4rem 5%;
    }
    .header .logoContent .logoName {
      display: none;
    }
    .header .navbar a {
      font-size: 1.1rem;
      margin-right: 2rem;
      text-decoration: none;
    }

    
}
.navbar a{
    text-decoration: none;
}

h1 {
    color: #333;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Espacio entre las tarjetas */
}

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 250px; /* Ancho fijo de la tarjeta */
    padding: 20px;
    transition: transform 0.2s;
    margin-top: 20px;
}

.card:hover {
    transform: scale(1.05); /* Efecto de aumento al pasar el mouse */
}

.card-image {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
    aspect-ratio: 3/4;
    object-fit: cover;
}

.details-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.2s;
}

.details-button:hover {
    background-color: #0056b3;
}
.t{
    margin-top: 100px;
}