* {
    margin: 0;
    padding: 0;     
    box-sizing: border-box;
}

body {
    font-family: "Cormorant Garamond", serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100vh;
}



main {
    padding: 70px 20px 20px 20px;
}


.container {
    background-color: white;
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}



.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    margin-top: 10px;
    color: #ff36ab;
}
.hero span{
    color: #5e5e5e;
    font-weight: 700;
}



/* Carrusel de meses */
.month-carousel {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.arrow {
    cursor: pointer;
    font-size: 20px;
    margin: 0 10px;
}

.month {
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    color: #333;
}

.month.active {
    background-color: #ffcc00;
}

/* Selección de fechas */
.date-picker {
    display: flex;
    overflow-x: auto;
    padding: 10px 0;
    margin: 20px 0;
}

.date {
    text-align: center;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    width: 40px;
    font-size: 12px;
    color: #333;
    cursor: pointer;
    margin-right: 10px;
}

.date.active {
    background-color: #FFAFCC; /* Color rosado pastel */
    color: white;
}

.day-of-week {
    font-size: 15px;
    color: #555;
    margin-bottom: 5px;
}

/* Sección de mañana, tarde y noche */
.time-periods {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}



.selected-day{
    border: 1px solid #cccccc71;
    color: gray;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
}

.time-period {
    padding: 10px;
    background-color: #FFAFCC; /* Color rosado pastel */
    border-radius: 5px;
    width: 30%;
    cursor: pointer;
    font-size: 14px;
    color: white;
    transition: background-color 0.3s;
}

.time-period.active {
    background-color: #FFC8DD; /* Color rosado más oscuro */
}

.time-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.time-button {
    background-color: #f0f0f0;
    border: none;
    padding: 15px;
    margin-bottom: 10px;
    width: 30%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    color: #333;
    transition: background-color 0.3s, transform 0.3s;
}

.time-button:hover {
    background-color: #e0e0e0;
    transform: scale(1.05);
}

.time-button.active {
    background-color: #FFAFCC; /* Color rosado pastel */
    color: white;
}

.continue-button {
    background-color: #FFAFCC; /* Color rosado pastel */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.active {
    background-color: lightblue;
}

.current-date {
    background-color: pink;
}

.time-button.active {
    background-color: lightblue;
}

.date.active {
    border: 2px solid rgb(88, 88, 88);
}

/* Estilo para el campo de entrada de horario */
input[type="time"] {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;

    &:disabled {
        background-color: #f0f0f0;
    }
}

/* Estilo para los horarios seleccionados */
.selected-times {
    margin-top: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
}



.selected-time {
    margin: 5px 0;
    padding: 10px;
    background-color: #e0e0ff2f;
    border: 1px solid #aaa;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.remove-time {
    margin-left: 10px;
    color: white;
    cursor: pointer;
    background-color: #646464;
    padding: 5px 10px;
    border-radius: 5px;
    &:hover {
        background-color: #ff4d4d;
    }
}



.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #F0F0F0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 5%;
    z-index: 999;
    height: 60px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.logoContent {
    display: flex;
    align-items: center;
}

.logo-1 img {
    height: 50px;
    margin-right: 15px;
}

.logoName {
    font-size: 1.5rem;
    font-weight: bold;
    color: #1b1722;
    white-space: nowrap;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    font-size: 1.2rem;
    margin-right: 20px;
    color: black;
    text-decoration: none;
    white-space: nowrap;
    padding: 8px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background-color: #d58190;
    color: white;
}

/* Dropdown */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #d58190;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    min-width: 160px;
    border-radius: 5px;
}

.dropdown-content a {
    padding: 12px;
    color: white;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
    background-color: #333;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.login-container {
    background-color: #faf8f8; /* Fondo del contenedor rosa claro */
    padding: 30px;
    border-radius: 20px 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 100px;
    filter: grayscale(0);
    margin: 15px;
  }
  

  .btn-1{
    background-color: #FFAFCC; /* Color rosado pastel */
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    width: 100%;

    &:hover {
      background-color: #FFC8DD; /* Color rosado más oscuro */
    }
    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }

  .btn-2{
    background-color: #FFAFCC; /* Color rosado pastel */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
  }