:root {
    --primary-clr: Pink;
    --haircut-clr: LightGreen;
    --nails-clr: LightBlue;
    --hair-styling-clr: LightCoral;
    --hair-coloring-clr: LightGoldenrodYellow;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  /* nice scroll bar */
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: pink;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--primary-clr);
    border-radius: 50px;
  }
  
  body {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
  }
  .container {
    position: relative;
    width: 1200px;
    min-height: 850px;
    margin: 0 auto;
    padding: 5px;
    color: #fff;
    display: flex;
  
    border-radius: 10px;
    background-color: pink;
  }
  .left {
    width: 60%;
    padding: 20px;
  }
  .calendar {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    color: black;
    border-radius: 5px;
    background-color: #fff;
  }
  /* set after behind the main element */
  .calendar::before,
  .calendar::before {
    height: 94%;
    left: calc(100% + 12px);
    background-color: rgb(153, 153, 153);
  }
  .calendar .month {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: capitalize;
  }
  .calendar .month .prev,
  .calendar .month .next {
    cursor: pointer;
  }
  .calendar .month .prev:hover,
  .calendar .month .next:hover {
    color: var(--primary-clr);
  }
  .calendar .weekdays {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
  }
  .weekdays div {
    width: 14.28%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .calendar .days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .calendar .days .day {
    width: 14.28%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--primary-clr);
    border: 1px solid #f5f5f5;
  }
  .calendar .days .day:nth-child(7n + 1) {
    border-left: 2px solid #f5f5f5;
  }
  .calendar .days .day:nth-child(7n) {
    border-right: 2px solid #f5f5f5;
  }
  .calendar .days .day:nth-child(-n + 7) {
    border-top: 2px solid #f5f5f5;
  }
  .calendar .days .day:nth-child(n + 29) {
    border-bottom: 2px solid #f5f5f5;
  }
  
  .calendar .days .day:not(.prev-date, .next-date):hover {
    color: #fff;
    background-color: var(--primary-clr);
  }
  .calendar .days .prev-date,
  .calendar .days .next-date {
    color: #b3b3b3;
  }
  .calendar .days .active {
    position: relative;
    font-size: 2rem;
    color: #fff;
    background-color: var(--primary-clr);
  }
  .calendar .days .active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px 2px var(--primary-clr);
  }
  .calendar .days .today {
    font-size: 2rem;
  }
  .calendar .days .event {
    position: relative;
  }
  .calendar .days .event::after {
    content: "";
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 75%;
    height: 6px;
    border-radius: 30px;
    transform: translateX(-50%);
    background-color: var(--primary-clr);
  }
  .calendar .days .day:hover.event::after {
    background-color: #fff;
  }
  .calendar .days .active.event::after {
    background-color: #fff;
    bottom: 20%;
  }
  .calendar .days .active.event {
    padding-bottom: 10px;
  }
  .calendar .goto-today {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 0 20px;
    margin-bottom: 20px;
    color: var(--primary-clr);
  }
  .calendar .goto-today .goto {
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid var(--primary-clr);
  }
  .calendar .goto-today .goto input {
    height: 100%;
    outline: none;
    border: none;
    padding: 0 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #b3b3b3;
  }
  .calendar .goto-today .goto-btn {
    padding: 5px 15px;
    cursor: pointer;
    color: #fff;
    background-color: var(--primary-clr);
  }
  .calendar .goto-today .today-btn {
    padding: 5px 20px;
    cursor: pointer;
    color: #fff;
    background-color: var(--primary-clr);
    border-radius: 5px;
  }
  .right {
    width: 40%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    color: black;
  }
  .right .today-date {
    width: 100%;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-size: 1.3rem;
    border-radius: 5px;
    background-color: #fff;
  }
  .right .today-date .event-day {
    font-size: 2rem;
    text-transform: capitalize;
  }
  .right .today-date .event-date {
    font-size: 1rem;
    text-transform: capitalize;
  }
  .right .events {
    width: 100%;
    max-height: 200px;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    border-radius: 5px;
    overflow-y: auto;
    background-color: #fff;
  }
  .right .events::-webkit-scrollbar {
    width: 8px;
  }
  .right .events::-webkit-scrollbar-track {
    background: #f5f5f5;
  }
  .right .events::-webkit-scrollbar-thumb {
    background: var(--primary-clr);
  }
  .right .events .no-event {
    font-size: 1.5rem;
    text-transform: capitalize;
    color: var(--primary-clr);
  }
  .right .events .event {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 95%;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: rgb(245, 245, 245);
  }
  .right .events .event .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.3rem;
    text-transform: capitalize;
  }
  .right .events .event .title i {
    cursor: pointer;
    color: #b3b3b3;
    font-size: 1.1rem;
  }
  .right .events .event .title i:hover {
    color: #ff0000;
  }
  .right .events .event .event-time {
    font-size: 1rem;
    text-transform: capitalize;
    color: #b3b3b3;
  }
  .add-event-wrapper {
    width: 100%;
    height: 400px;
    padding: 20px 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    background-color: #fff;
    z-index: 1;
  }
  .add-event-wrapper.active {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  .add-event-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.3rem;
    color: var(--primary-clr);
  }
  .add-event-header i {
    font-size: 1.2rem;
    cursor: pointer;
  }
  .add-event-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .add-event-input {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-transform: capitalize;
  }
  .add-event-input input,
  .add-event-input select {
    height: 45px;
    width: 100%;
    outline: none;
    border: 2px solid var(--primary-clr);
    border-radius: 5px;
    padding: 0 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #b3b3b3;
  }
  .add-event-input input:focus,
  .add-event-input select:focus {
    color: var(--primary-clr);
  }
  .add-event-input select option {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #b3b3b3;
  }
  .add-event-footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .add-event-footer .add-event-btn {
    padding: 10px 30px;
    cursor: pointer;
    color: #fff;
    background-color: var(--primary-clr);
    border-radius: 5px;
  }
  .add-event-footer .add-event-btn:hover {
    background-color: #e91e63;
  }
  .add-event {
    position: absolute;
    bottom: -20px;
    right: 0px;
    padding: 20px;
    font-size: 2.5rem;
    border-radius: 50%;
    cursor: pointer;
    color: #fff;
    z-index: 1;
    transform: rotate(0deg);
    transition: all 0.3s ease;
    background-color: var(--primary-clr);
  }
  .add-event:hover {
    transform: rotate(90deg);
  }
  